Package: munin-plugins-btrfs
Source: python-btrfs
Version: 10-1
Architecture: all
Maintainer: Hans van Kranenburg <hans@knorrie.org>
Installed-Size: 26
Depends: munin-node, python3, python3-btrfs (= 10-1)
Section: net
Priority: optional
Homepage: https://github.com/knorrie/python-btrfs/
Description: munin plugin for monitoring btrfs filesystems
 This munin plugin uses the python btrfs module to retrieve information about
 disk space allocation and usage.
 .
 Traditional space usage monitoring based on the output of df is not sufficient
 when using btrfs. This plugin takes allocated but unused disk space, and
 unallocatable disk space (for example when mixing different sized disks with
 raid profiles) into account. It is meant to be used as an addition to using a
 regular disk usage plugin, based on df output.
