Source: python-btrfs
Section: libs
Priority: extra
Maintainer: Hans van Kranenburg <hans@knorrie.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools,
Standards-Version: 3.9.8

Package: python3-btrfs
Architecture: amd64
Depends: ${python3:Depends}, ${misc:Depends}
Description: Python module to inspect btrfs filesystems.
 Currently, the primary goal of this module is to be able to inspect the
 internals of an existing filesystem for educational purposes.
 .
 A second goal is to provide a nicer way for automating administration tasks
 and writing monitoring scripts by being able to just programmatically access
 the needed information, instead of having to spend most of the time on parsing
 human readable output from other btrfs tools.

Package: munin-plugins-btrfs
Architecture: all
Depends: ${misc:Depends}, munin-node, python3-btrfs
Priority: extra
Section: net
Description: Munin plugin to graph space usage of Btrfs filesystems.

Package: nagios-plugins-btrfs
Architecture: all
Depends: ${misc:Depends}, python3-btrfs
Priority: extra
Section: net
Description: Nagios plugin to check usage and error counters of a Btrfs filesystem.
